// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
// @font-face {
//   font-family: 'Roboto';
//   src: url('../../../assets/fonts/Roboto/Roboto-black.ttf') format('truetype'), 
//        url('../../../assets/fonts/Roboto/Roboto-Blackitalic.ttf') format('truetype'),  
//        url('../../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
//        url('../../../assets/fonts/Roboto/Roboto-Bolditalic.ttf') format('truetype'),
//        url('../../../assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype'),
//        url('../../../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype'),
//        url('../../../assets/fonts/Roboto/Roboto-Lightitalic.ttf') format('truetype'),
//        url('../../../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
//        url('../../../assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'),
//        url('../../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
//        url('../../../assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype'),     
//        url('../../../assets/fonts/Roboto/Roboto-Thinitalic.ttf') format('truetype');      
// }
//Normalize
@import "modules/normalize.scss";
// Modules
@import "modules/utility.scss";
// styles
@import "partials/fonts.scss";
// partials
@import "partials/grid.scss";
@import "partials/page.scss";
@import "partials/footer.scss";
@import "partials/nav.scss";
@import "partials/header.scss";
@import "partials/comments.scss";

html { font-size: 62.5%; }
body { font:400 1.4rem 'merriweather', sans-serif; line-height:1.8rem;  color: #9b9b9b; }