// Headings
h1, h2, h3, h4, h5, h6 { margin-top: 0rem; margin-bottom: 0rem;  }

    h1 { font:700 90px 'Roboto', sans-serif;text-align:center; line-height:90px; color:#fff; 
    @include small{}
    }
    h2{ font:300 26px 'merriweather', sans-serif;  color:#fff; margin:0 0 0 0; padding:0 0 0 0;
    @include small{}
    }
    h3 { font:900 19px 'Roboto', sans-serif; line-height:23px; text-transform: uppercase;
    @include small{}
    }
    h3 span.color{color:#CECED2;}
    h3 span.section {
    display: inline-block;
    position: relative; 
    color:#19181A;
    @include small{ 
    display: inline-block;
    position: relative; 
    }}
    h3 span.section:before{
    content: "";
    position: absolute;
    bottom: -87px;
    left:1px;
    height: 67px;
    border-left: 3px solid $red;
    width: 0px;
    color: #E43B40;
    @include small{
    content: "";
    position: absolute;
    bottom: -67px;
    left:1px;
    height: 43px;
    border-left: 3px solid $red;
    width: 0px;
    color: #E43B40;
    }
     @include xs{
    content: "";
    position: absolute;
    bottom: -67px;
    left:1px;
    height: 43px;
    border-left: 3px solid $red;
    width: 0px;
    color: #E43B40;
    }}

    h4{ font:500 26px 'Roboto', sans-serif;  color:#404040; margin:0 0 0 0; padding:0 0 0 0;
    @include small{}
    }
    h5 {font:300 26px  'Roboto-Light', sans-serif;  margin: 0; padding:0px 0 0 0;
    @include small{}
    }
    
    h6 {font:400 12px 'Roboto', sans-serif;  margin: 0; padding:0px 0 0 0;
    @include small{}
    }

p { margin-top: 5px; line-height:26px; padding:0px;}
span.comments{color:#818181; font-size:14px; font-weight:500;margin: 0; padding:0px 0 0 0;}
span.comments-days{color:#ddd;  margin: 0; padding:0px 0 0 0;}

/* Links –––––––––––––––––––––––––––––––––––––––––––––––––– */
// a, a:visited {  color:#fff;text-decoration: none;}
// a:hover, a:active {color:#fff;   text-decoration: none; ; }