//- includes/head.pug
// Needs favicon
title STRV
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// Stylesheet
link(rel='stylesheet', type='text/css', href='assets/css/main.css')
script(src='https://use.fontawesome.com/e3a03ac51c.js')

// JQUERY
script(src='http://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')

// nav