//- includes/nav.pug
nav.nav
    .grid#menubar.hide.gridxs--full.grid--full.gridmd--1of3.gridlg--1of3.gridxl--1of3
        .cell
            a(href='#sec01') about us
        .cell
            a(href='#sec02') how it works
        .cell
            a(href='#sec03') comments

    //- ul#menubar.show
    //-     li
    //-         a(href='#sec01') about us
    //-     li
    //-         a(href='#sec02') how it works
    //-     li
    //-         a(href='#sec03') comments
    .hamburger
        .close.hide
        button.c-hamburger.c-hamburger--htx
            span toggle menu